{% extends 'base.html' %}

{% block content %}

<div class = "col-md-6 offset-md-3">
 <!-- If user is authenticated, display a message to the page -->
{% if user.is_authenticated %}
<h1>Welcome {{ user.username }}</h1>

 <!-- If not create the username/password forms for the user to use to login -->
{% else %}

 <!-- Login text -->
<h1>Login</h1>
<br/>

 <!-- If posting the home request (not authenticated/on home page), create the username/password forms to be entered -->
<form method = "POST" action = "{% url 'home' %}">
    {% csrf_token %}
    
   <!-- Username box -->
  <div class="mb-3">
    <input type = "text" class = "form-control" name = "username" placeholder = "Username" required>
  </div>

   <!-- Password Box -->
  <div class="mb-3">
    <input type = "text" class = "form-control" name = "password" placeholder = "Password" required>
  </div>

    <!-- Submit Button -->
  <button type="submit" class="btn btn-secondary">Login</button>
</form>

</div>

{% endif %}

{% endblock %}