{% extends 'base.html' %}
{% block content %}
<br/>
<br/>
<h2>Hello {{ provider.first_name }}!</h2>
<br/>
<br/>
<p><strong>Qualifications:</strong> {{ provider.qualifications }}</p>
<br/>
<h3>Your Appointment Slots</h3>
{% for slot in slots %}
    <li class="d-flex justify-content-between align-items-center">
        <span>
            <strong>{{ slot.appointmentName }}</strong> appointment on <strong>{{ slot.date }} {{ slot.start_time }} - {{ slot.end_time }}</strong>
        </span>
        {% if slot.is_booked and slot.booking %}
            <strong>Booked by {{ slot.booking.user.first_name }} {{ slot.booking.user.last_name }}</strong>
        {% else %}
            <strong>Available</strong>
        {% endif %}
    </li>
    {% empty %}
        <li>You have not added any slots yet.</li>
    {% endfor %}
</ul>

<hr>
<h3>Add Appointment Slot</h3>
<form method="POST" class="row g-3">
    {% csrf_token %}
    <div class="col-md-3">
        {{ slot_form.appointmentName.label_tag }} {{ slot_form.appointmentName }}
    </div>
    <div class="col-md-3">
        {{ slot_form.date.label_tag }} {{ slot_form.date }}
    </div>
    <div class="col-md-3">
        {{ slot_form.start_time.label_tag }} {{ slot_form.start_time }}
    </div>
    <div class="col-md-3">
        {{ slot_form.end_time.label_tag }} {{ slot_form.end_time }}
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Add Slot</button>
    </div>
</form>
{% endblock %}