<div class="modal fade" id="userReportModal-{{ username }}" tabindex="-1" aria-labelledby="userReportModalLabel-{{ username }}" aria-hidden="true">
  <div class="modal-dialog">
    <form method="post" action="{% url 'downloadUserReport' %}">
      {% csrf_token %}
      <input type="hidden" name="username" value="{{ username }}">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="userReportModalLabel-{{ username }}">Download Report for {{ username }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label>Start Date: <input type="date" name="start_date" required></label><br>
          <label>End Date: <input type="date" name="end_date" required></label><br>
          <label>Appointment Type:
            <select name="appointment_type">
              <option value="">All Types</option>
              {% for t in types %}
              <option value="{{ t }}">{{ t }}</option>
              {% endfor %}
            </select>
          </label>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-info">Download CSV</button>
        </div>
      </div>
    </form>
  </div>
</div>